@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@500&family=Roboto:ital,wght@1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #373737;
  font-family: 'Roboto', sans-serif;
  font-family: 'Lexend', sans-serif !important;
}

body *{
  font-family: inherit;
}

.cardList_container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  overflow-y: auto;
}

.cardList_container > :first-child {
  margin-top: 12px;;
}

.cardList_container > * {
  margin-bottom: 12px;
}

a, button ,textarea, button:hover, button:focus {
  outline: none;
  -webkit-tap-highlight-color: transparent;
}